.idea
/files/
db/config.json
sync_ytb_video/config.json
utils/test.py
material_process/config.json
cover_generator/config.json
pretrained_models/
key.txt
**/test.py
**/test.png
**/test.jpg
**/transparent_title.png
**/fin
**/font
**/images
**/render
**/lark.json
**/temp_input
**/temp_output