redis==3.5.3
tenacity==6.2.0
tencentcloud_sdk_python==3.0.343
fake_useragent==0.1.11
PyMySQL~=0.9.3
requests~=2.26.0
youtube_dl
schedule==0.6.0
pika==1.1.0
Pillow~=9.1.1
volcengine~=1.0.7
pycryptodome
opencv-python
Flask~=1.1.2
gevent
DBUtils~=2.0.1
munkres~=1.1.4
