redis==3.5.3
tenacity==6.2.0
tencentcloud_sdk_python==3.0.343
fake_useragent==0.1.11
PyMySQL==0.10.0
requests~=2.24.0
youtube_dl==2021.4.1
schedule==0.6.0
pika==1.1.0
Pillow~=6.1.0
volcengine==1.0.15
spleeter
pycryptodome
opencv-python~=4.1.2.30
Flask~=1.1.2
gevent~=20.9.0