<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.BusVideoMapper">

    <resultMap type="com.ruoyi.business.domain.BusVideo" id="BusVideoResult">
        <result property="videoId"    column="video_id"    />
        <result property="videoTitle"    column="video_title"    />
        <result property="videoProfile"    column="video_profile"    />
        <result property="videoUrl"    column="video_url"    />
        <result property="videoPic"    column="video_pic"    />
        <result property="videoStatus"    column="video_status"    />
        <result property="videoClass"    column="video_class"    />
        <result property="videoAuthor"    column="channel_id"    />
        <result property="videoIsHuge"    column="video_is_huge"    />
        <result property="videoHugePic"    column="video_huge_pic"    />
        <result property="videoPath"    column="video_path"    />
        <result property="videoJson"    column="video_json"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="videoPublish"    column="video_publish"    />
        <association property="busChannel"    column="channel_id" javaType="com.ruoyi.business.domain.BusChannel" resultMap="busChannelResult" />
    </resultMap>

    <resultMap id="busChannelResult" type="com.ruoyi.business.domain.BusChannel">
        <result property="channelId"    column="channel_id"    />
        <result property="channelOwner"    column="channel_owner"    />
        <result property="channelUrl"    column="channel_url"    />
    </resultMap>

    <sql id="selectBusVideoVo">
        select video_id, video_title, video_profile, video_url, video_pic, video_status, video_class, video_author, video_is_huge, video_huge_pic, video_path, video_publish, create_by, create_time, update_by, update_time from bus_video
    </sql>

    <sql id="selectBusVideoAssociationVo">
        select v.video_id, v.video_title, v.video_profile, v.video_url, v.video_pic, v.video_status, v.video_class, v.video_author, v.video_is_huge, v.video_huge_pic, v.video_path, v.video_json, v.video_publish, c.channel_owner, c.channel_url
        from bus_video v
                left join bus_channel c on v.video_author = c.channel_id
    </sql>

    <select id="selectBusVideoList" parameterType="com.ruoyi.business.domain.BusVideo" resultMap="BusVideoResult">
        <include refid="selectBusVideoAssociationVo"/>
        <where>
            <if test="videoTitle != null  and videoTitle != ''"> and v.video_title like concat('%', #{videoTitle}, '%')</if>
            <if test="videoProfile != null  and videoProfile != ''"> and (v.video_profile like concat('%', #{videoProfile}, '%') or v.video_title like concat('%', #{videoProfile}, '%'))</if>
            <if test="videoClass != null  and videoClass != ''"> and v.video_class like concat('%', #{videoClass}, '%')</if>
            <if test="busChannel.channelOwner != null  and busChannel.channelOwner != ''"> and c.channel_owner like concat('%', #{busChannel.channelOwner}, '%')</if>
        </where>
        order by v.video_id desc
    </select>

    <select id="selectBusVideoById" parameterType="Long" resultMap="BusVideoResult">
        <include refid="selectBusVideoAssociationVo"/>
        where v.video_id = #{videoId}
    </select>

    <insert id="insertBusVideo" parameterType="com.ruoyi.business.domain.BusVideo" useGeneratedKeys="true" keyProperty="videoId">
        insert into bus_video
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="videoTitle != null">video_title,</if>
            <if test="videoProfile != null">video_profile,</if>
            <if test="videoUrl != null">video_url,</if>
            <if test="videoPic != null">video_pic,</if>
            <if test="videoStatus != null">video_status,</if>
            <if test="videoClass != null">video_class,</if>
            <if test="videoAuthor != null">video_author,</if>
            <if test="videoIsHuge != null">video_is_huge,</if>
            <if test="videoHugePic != null">video_huge_pic,</if>
            <if test="videoPath != null">video_path,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="videoTitle != null">#{videoTitle},</if>
            <if test="videoProfile != null">#{videoProfile},</if>
            <if test="videoUrl != null">#{videoUrl},</if>
            <if test="videoPic != null">#{videoPic},</if>
            <if test="videoStatus != null">#{videoStatus},</if>
            <if test="videoClass != null">#{videoClass},</if>
            <if test="videoAuthor != null">#{videoAuthor},</if>
            <if test="videoIsHuge != null">#{videoIsHuge},</if>
            <if test="videoHugePic != null">#{videoHugePic},</if>
            <if test="videoPath != null">#{videoPath},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBusVideo" parameterType="com.ruoyi.business.domain.BusVideo">
        update bus_video
        <trim prefix="SET" suffixOverrides=",">
            <if test="videoTitle != null">video_title = #{videoTitle},</if>
            <if test="videoProfile != null">video_profile = #{videoProfile},</if>
            <if test="videoUrl != null">video_url = #{videoUrl},</if>
            <if test="videoPic != null">video_pic = #{videoPic},</if>
            <if test="videoStatus != null">video_status = #{videoStatus},</if>
            <if test="videoClass != null">video_class = #{videoClass},</if>
            <if test="videoAuthor != null">video_author = #{videoAuthor},</if>
            <if test="videoIsHuge != null">video_is_huge = #{videoIsHuge},</if>
            <if test="videoHugePic != null">video_huge_pic = #{videoHugePic},</if>
            <if test="videoPath != null">video_path = #{videoPath},</if>
            <if test="createBy != null">create_by= #{createBy},</if>
            <if test="createTime != null">create_time= #{createTime},</if>
            <if test="updateBy != null">update_by= #{updateBy},</if>
            <if test="updateTime != null">update_time= #{updateTime},</if>
        </trim>
        where video_id = #{videoId}
    </update>

    <update id="changeBusVideoStatus" parameterType="com.ruoyi.business.domain.BusVideo">
        update bus_video
        set video_status = #{videoStatus}
        where video_id = #{videoId}
    </update>

    <delete id="deleteBusVideoById" parameterType="Long">
        delete from bus_video where video_id = #{videoId}
    </delete>

    <delete id="deleteBusVideoByIds" parameterType="String">
        delete from bus_video where video_id in
        <foreach item="videoId" collection="array" open="(" separator="," close=")">
            #{videoId}
        </foreach>
    </delete>

</mapper>